<section class="almost-footer">
    <div class="almost-footer__container">
        <h2 class="almost-footer__heading">Join BayBank and make your life easier.</h2>
        <a href="/register" class="button button--light">Get started</a>
    </div>
</section>
