<section class="almost-footer">
    <div class="almost-footer__container">
        <h2 class="almost-footer__heading">Join us and make your life easier</h2>
        <a href="/register" class="button">Get started</a>
    </div>
</section>
