<% for (let i = 0; i < 5; i++) { %> 
<article class="articles__article articles__article--small">
    <!-- <img class="articles__img articles__img--small" src="" alt="" /> -->
    <div class="articles__img articles__img--small"></div>
    <div class="articles__wrapper articles__wrapper--small">
        <p class="articles__category articles__category--small">Technology</p>
        <h3 class="articles__article-heading articles__article-heading--small">
            Oculus - breakthrough research is going to be groundbreaking
        </h3>
    </div>
</article>
<% } %> 