<article class="articles__article articles__article--large">
    <!-- <img class="articles__img articles__img--large" src="" alt="" /> -->
    <div class="articles__img articles__img--large">
        <div class="articles__wrapper articles__wrapper--large">
            <div class="articles__separator">
                <p class="articles__category articles__category--large">Press</p>
                <p class="articles__date articles__date--large">2022-08-10</p>
            </div>
            <h3 class="articles__article-heading articles__article-heading--large">
                BayBank increases employees salary pay by 20%
            </h3>
            <h4 class="articles__article-secondary-heading articles__article-secondary-heading--large">
                BayBank is on it's way of increases salaries for their employees. This is
                happening due to high inflation numbers
            </h4>
        </div>
    </div>
</article>