<section class="bank-card">
    <!-- <div class="bank-card__text">
        <h2 class="bank-card__heading"></h2>
        <p class="bank-card__paragraph"></p>
    </div> -->
    <div class="bank-card__body">
        <a class="bank-card__logo" href="/">
            <span class="bank-card__logo__bay">Bay</span>
            <span class="bank-card__logo__bank">Bank</span>
        </a>
        <div class="bank-card__number">1234 1234 1234 1234</div>
        <div class="bank-card__date">06-13</div>
        <div class="bank-card__name">John Dodson</div>
        <div class="mastercard-logo">
            <div class="mastercard-logo__left"></div>
            <div class="mastercard-logo__right"></div>
        </div>
    </div>
</section>
