<section class="bank-card">
    <div class="bank-card__container">
        <div class="bank-card__text">
            <h2 class="bank-card__heading">Customization</h2>
            <p class="bank-card__paragraph">
                The first step to addressing your demands is selecting the color of your card
            </p>
            <a href="#" class="bank-card__read-more">Read more about cards</a>
        </div>
        <div class="bank-card__card">
            <div class="bank-card__body">
                <div class="bank-card__logo" href="/">
                    <span class="bank-card__logo__bay">Bay</span>
                    <span class="bank-card__logo__bank">Bank</span>
                </div>
                <div class="bank-card__number">1234 1234 1234 1234</div>
                <div class="bank-card__date">06-13</div>
                <div class="bank-card__name">John Dodson</div>
                <div class="mastercard-logo">
                    <div class="mastercard-logo__left"></div>
                    <div class="mastercard-logo__right"></div>
                </div>
                <!-- <div class="bank-card__colors">
                    <div class="bank-card__color--blue"></div>
                    <div class="bank-card__color--light-blue"></div>
                    <div class="bank-card__color--black"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>
