<!-- Card -->
<div class="card">
  <section style="order: 1">
    <!-- prettier-ignore -->
    <img class="card__img" src="<%= img %>" alt="Apple pay"
    />
  </section>
  <section class="card__text-separator <%= cardOrder %>">
    <div class="card__text">
      <h3 class="card__text-h"><%= h3 %></h3>
      <p class="card__text-p"><%= p %></p>
    </div>
    <div class="btn__holder">
      <a class="btn btn--primary" href="#">Learn more</a>
    </div>
  </section>
</div>
<!-- /Card -->
