<div class="editor-header">
    <div class="editor-header__container">
        <nav class="editor-nav">
            <ul class="editor-nav__links">
                <li><a class="editor-nav__link <%= active === "New article" ? "active" : "" %>" href="/news/new">New article</a></li>
            </ul>
        </nav>
    </div>
</div>
