<footer class="footer">
    <div class="footer__container">
        <nav class="footer__links">
            <a class="footer__link" href="#"><i class="footer__icon fa-brands fa-facebook"></i></a>
            <a class="footer__link" href="#"><i class="footer__icon fa-brands fa-twitter"></i></a>
            <a class="footer__link" href="#"><i class="footer__icon fa-brands fa-linkedin"></i></a>
            <a class="footer__link" href="#"><i class="footer__icon fa-brands fa-instagram"></i></a>
            <a class="footer__link" href="#"><i class="footer__icon fa-brands fa-github"></i></a>
        </nav>
        <small class="footer__copyright">Copyright &copy; 2022, BayBank AB</small>
    </div>
</footer>

<!-- Ionicons CDN -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
