<footer class="footer">
    <nav class="footer__links">
        <a class="footer__link" href="#">Facebook</a>
        <a class="footer__link" href="#">Twitter</a>
        <a class="footer__link" href="#">Linkedin</a>
        <a class="footer__link" href="#">Instagram</a>
        <a class="footer__link" href="#">GitHub</a>
    </nav>
    <small class="footer__copyright">Copyright&copy; 2022, BayBank AB</small>
</footer>
