</main>
</div>
<!-- /Main -->

   <!-- Footer -->
    <div class="container">
      <footer>
        <p>© Skandinaviska Enskilda Banken AB</p>
        <div class="icons">
          <i class="icon fa-brands fa-facebook"></i>
          <i class="icon fa-brands fa-twitter"></i>
          <i class="icon fa-brands fa-linkedin"></i>
          <i class="icon fa-brands fa-instagram"></i>
          <i class="icon fa-brands fa-youtube"></i>
        </div>
      </footer>
    </div>
    <!-- /Footer -->
    <script src="/js/script.js"></script>
  </body>
</html>
