<footer class="footer">
    <div class="footer__container">
        <nav class="footer__links">
            <a class="footer__link" target="_blank" href="https://www.linkedin.com/in/erikasby/">Linkedin</a>
            <a class="footer__link" target="_blank" href="https://www.github.com/erikasby/">Github</a>
        </nav>
        <div class="footer-logo" href="/">
            <span class="footer-logo__bay">Bay</span>
            <span class="footer-logo__bank">Bank</span>
        </div>
        <small class="footer__copyright">Copyright &copy; 2022, BayBank AB</small>
    </div>
</footer>
