<header class="header">
    <a class="logo" href="/">
        <span class="logo__bay">Bay</span>
        <span class="logo__bank">Bank</span>
    </a>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a href="/">Home</a></li>
            <li class="nav__link"><a href="/news">News</a></li>
            <li class="nav__link"><a href="/press">Press</a></li>
            <li class="nav__link"><a href="/404">404</a></li>
        </ul>
    </nav>
</header>
