<header class="header">
    <div class="header__container">
    <a class="logo" href="/">
        <span class="logo__bay">Bay</span>
        <span class="logo__bank">Bank</span>
    </a>
    <nav class="nav">
        <ul class="nav__links">
            <li><a class="nav__link" href="/">Home</a></li>
            <li><a class="nav__link" href="/news">News</a></li>
            <li><a class="nav__link" href="/press">Press</a></li>
            <li><a class="nav__link" href="/404">404</a></li>
        </ul>
    </nav>
    <a href="/signin" class="sign-in"
        >Sign in <i class="sign-in__icon fa-solid fa-angle-right"></i></ion-icon
    ></a>
</div>
</header>
