<section class="hero">
    <div class="hero__container">
        <h1 class="hero__main-heading">The most popular & beloved bank in Europe</h1>
        <a href="#" class="hero__button">Join Us</a>
        <p class="hero__paragraph">
            BayBank is the best solution for both individuals and companies. We provide control, security, and
            flexibility over our services as well as your money.
        </p>
    </div>
</section>
