<section class="hero">
    <div class="hero__container hidden">
        <h1 class="hero__main-heading">Tackle any problem with our solutions</h1>
        <img class="hero__img" src="/illustrations/information_flow.svg" alt="Information flow" />
        <p class="hero__paragraph">
            BayBank is the best solution for both individuals and companies. We provide control, security, speed and
            flexibility over our services as well as your money.
        </p>
        <a href="#" class="button">Learn more</a>
    </div>
</section>
