<section class="hero">
    <div class="hero__container">
        <div class="hero__text-wrapper">
            <h1 class="hero__main-heading">Always transfer instantly, securely.</h1>
            <p class="hero__paragraph">
                BayBank is the best solution for both individuals and companies. We provide control, security, speed and
                flexibility over our services as well as your money.
            </p>
            <a href="#" class="button button--light">Learn more</a>
        </div>
    </div>
    <img class="hero__img" src="img/header-picture.avif" alt="Woman sitting next to her laptop" />
</section>
