<section class="hero">
    <div class="hero__container">
        <h2 class="hero__secondary-heading">Our mission</h2>
        <h1 class="hero__main-heading">Bring your ideas to us</h1>
        <p class="hero__paragraph">
            Our goal is to provide you control, security, and flexibility over our services as well as your money
        </p>
    </div>
</section>
