<section class="loan-calculator">
    <div class="loan-calculator__container">
        <div class="loan-calculator__text">
            <h2 class="loan-calculator__heading">Lending</h2>
            <p class="loan-calculator__paragraph">
                Learn a little bit about loan calculations, it will allow you to grasp your upcoming goals
            </p>
            <a href="#" class="loan-calculator__read-more">Read more about loans</a>
        </div>
    </div>
</section>
