<section class="loan-calculator">
    <div class="loan-calculator__container">
        <div class="loan-calculator__text">
            <h2 class="loan-calculator__heading">Lending</h2>
            <p class="loan-calculator__paragraph">
                Learn a little bit about loan calculations, it will allow you to grasp your upcoming goals
            </p>
            <a href="#" class="loan-calculator__read-more">Read more about loans</a>
        </div>
        <div class="loan-calculator__body">
            <div class="loan-calculator__left">
                <div class="loan-amount">
                    <p class="loan-amount__label">Loan amount</p>
                    <div class="loan-amount__input">
                        <input class="loan-amount__number" type="number" value="5000" min="50" max="50000001" />
                        <div class="loan-amount__icon">$</div>
                    </div>
                </div>
                <div class="loan-term">
                    <p class="loan-term__label">Loan term in years</p>
                    <input class="loan-term__number" type="number" value="5" min="1" max="50" />
                </div>
                <div class="loan-calculate">
                    <div class="loan-rate">
                        <p class="loan-rate__label">Interest rate p/y</p>
                        <div class="loan-rate__input">
                            <input class="loan-rate__number" type="number" step="0.1" value="5" min="0.01" max="50" />
                            <div class="loan-rate__icon">%</div>
                        </div>
                    </div>
                    <button class="loan-calculate__button" type="button">Calculate</button>
                </div>
            </div>
            <div class="loan-calculator__right">
                <p class="loan-calculator__monthly-payment-label">Monthly payments</p>
                <p class="loan-calculator__monthly-payment-number"><span>$</span>94.36</p>
                <div class="loan-calculator__total-principal">
                    <p class="loan-calculator__payment-amount-label">Total principal</p>
                    <p class="loan-calculator__payment-amount-number">$5661.37</p>
                </div>
                <div class="loan-calculator__total-interest">
                    <p class="loan-calculator__paid-interest-label">Total interest</p>
                    <p class="loan-calculator__paid-interest-number">$661.7</p>
                </div>
            </div>
        </div>
    </div>
</section>
