<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Header -->
    <div class="container">
      <header class="nav">
        <!-- Logo -->
        <a href="/" class="nav__brand"
          ><img src="/img/logo.svg" alt="SEB logo"
        /></a>

        <!-- Nav links -->
        <ul class="nav__links">
          <li class="nav__link nav__link--current"><a href="/">Home</a></li>
          <li class="nav__link"><a href="/news">News</a></li>
          <li class="nav__link"><a href="/press">Press</a></li>
          <li class="nav__link">
            <a href="/regulatory-press">Regulatory press</a>
          </li>
        </ul>

        <!-- Search -->
        <div class="search">
          <form action="/search" method="POST">
            <input
              type="search"
              name="searchTerm"
              placeholder="Search articles..."
              aria-label="Search"
            />
          </form>
        </div>
        <!-- /Search -->
      </header>
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container--main">
      <main><%- body -%></main>
    </div>
    <!-- /Main -->

    <!-- Footer -->
    <div class="container">
      <footer>
        <p>Built by Erikas</p>
      </footer>
    </div>
    <!-- /Footer -->
  </body>
</html>
