<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('includes/header.ejs', {active: active}) %>
        <main class="main">
            <img class="page-not-found__img" src="/illustrations/page_not_found.svg" alt="404" />
        </main>
        <%- include('includes/footer.ejs') %>
    </body>
</html>
