<%- include('includes/header.ejs', {}) %>
<div class="error">
  <h1 class="error__title">
    Hmm... this page doesn’t exist. Try searching for something else.
  </h1>
</div>
<%- include('includes/footer.ejs', {}) %>
