<div class="card">
  <section>
    <img class="card__img" src="/img/index-3.jpg" alt="Apple pay" />
  </section>
  <section class="card__text--separator">
    <div class="card__text">
      <h3 class="card__text--h3">Become our customer</h3>
      <p class="card__text--p">
        Become a customer of SEB how it's convenient for you and gain a reliable
        financial partner.
      </p>
    </div>
    <form action="/learn" method="POST">
      <button
        class="btn btn--primary"
        type="button"
        name="apple-pay"
        value="learn-more"
      >
        Learn more
      </button>
    </form>
  </section>
</div>
<div class="card">
  <section class="card__text--separator">
    <div class="card__text">
      <h3 class="card__text--h3">New way to invest – Robo-Advisor</h3>
      <p class="card__text--p">
        Receive personalised investment advice in the mobile app 24/7. It takes
        only 15 minutes, you can start with as little as 1 euro and no
        professional financial knowledge is needed.
      </p>
    </div>
    <form action="/learn" method="POST">
      <button
        class="btn btn--primary"
        type="button"
        name="apple-pay"
        value="learn-more"
      >
        Learn more
      </button>
    </form>
  </section>
  <section>
    <img class="card__img" src="/img/index-2.jpg" alt="Apple pay" />
  </section>
</div>
<div class="card">
  <section>
    <img class="card__img" src="/img/index-4.jpg" alt="Apple pay" />
  </section>
  <section class="card__text--separator">
    <div class="card__text">
      <h3 class="card__text--h3">
        Apple Pay – it’s the easy, secure, and private way to pay
      </h3>
      <p class="card__text--p">
        Add your SEB card to Apple Pay via SEB mobile app or Apple Wallet and
        use your Apple devices for secure and fast payments in stores, apps and
        online.
      </p>
    </div>
    <form action="/learn" method="POST">
      <button
        class="btn btn--primary"
        type="button"
        name="apple-pay"
        value="learn-more"
      >
        Learn more
      </button>
    </form>
  </section>
</div>
<div class="card">
  <section class="card__text--separator">
    <div class="card__text">
      <h3 class="card__text--h3">Loans for all your needs</h3>
      <p class="card__text--p">
        Whether it’s buying or renovating your home, purchasing a car,
        travelling or making a long-desired purchase – we are here for all your
        financial needs.
      </p>
    </div>
    <form action="/learn" method="POST">
      <button
        class="btn btn--primary"
        type="button"
        name="apple-pay"
        value="learn-more"
      >
        Learn more
      </button>
    </form>
  </section>
  <section>
    <img class="card__img" src="/img/index-1.png" alt="Apple pay" />
  </section>
</div>
