<div class="card">
  <section>
    <img class="card__img" src="/img/index-1.jpg" alt="Apple pay" />
  </section>
  <section class="card__text-separator">
    <div class="card__text">
      <h3 class="card__text-h">Join our list of satisfied clients</h3>
      <p class="card__text-p">
        Become a SEB customer in the way that suits you best and obtain a
        trustworthy financial partner.
      </p>
    </div>
    <div class="btn__holder">
      <a class="btn btn--primary" href="/news/article">Learn more</a>
    </div>
  </section>
</div>
<div class="card">
  <section class="card__text-separator">
    <div class="card__text">
      <h3 class="card__text-h">Robo-advisors are a new method to invest</h3>
      <p class="card__text-p">
        Personalized investment advice is available 24 hours a day, 7 days a
        week on the mobile app. It only takes 15 minutes, you can start with as
        little as 1 euro, and you don't need any prior financial experience.
      </p>
    </div>
    <div class="btn__holder">
      <a class="btn btn--primary" href="/news/article">Learn more</a>
    </div>
  </section>
  <section>
    <img class="card__img" src="/img/index-2.jpg" alt="Apple pay" />
  </section>
</div>
<div class="card">
  <section>
    <img class="card__img" src="/img/index-3.jpg" alt="Apple pay" />
  </section>
  <section class="card__text-separator">
    <div class="card__text">
      <h3 class="card__text-h">
        Apple Pay is a convenient, safe, and private method to pay
      </h3>
      <p class="card__text-p">
        Use your Apple devices to make secure and quick payments in stores,
        apps, and online by adding your SEB card to Apple Pay using the SEB
        mobile app or Apple Wallet.
      </p>
    </div>
    <div class="btn__holder">
      <a class="btn btn--primary" href="/news/article">Learn more</a>
    </div>
  </section>
</div>
<div class="card">
  <section class="card__text-separator">
    <div class="card__text">
      <h3 class="card__text-h">
        All of your necessities can be met with a loan
      </h3>
      <p class="card__text-p">
        We can help you with all of your financial needs, whether you're buying
        or renovating a home, buying a car, traveling, or making a long-awaited
        purchase.
      </p>
    </div>
    <div class="btn__holder">
      <a class="btn btn--primary" href="/news/article">Learn more</a>
    </div>
  </section>
  <section>
    <img class="card__img" src="/img/index-4.jpg" alt="Apple pay" />
  </section>
</div>
