<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <title><%= title %></title>
    </head>
    <body>
        <%- include('includes/header.ejs', {active: active}) %>
        <main class="main-content">
            <section class="login">
                <form class="form" action="/login" method="POST">
                    <label class="form__label" for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form__input"
                        placeholder="Johndoe12"
                        minlength="3"
                        maxlength="20"
                        pattern="[A-Za-z0-9]{3,20}"
                        required
                    />
                    <div class="password-separator">
                        <label class="form__label" for="password">Password</label>
                        <a href="/register" class="form__additional-link">Forgot password?</a>
                    </div>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form__input"
                        placeholder="••••••"
                        minlength="6"
                        maxlength="30"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,30}$"
                        required
                    />
                    <button type="submit" class="button">Login</button>
                </form>
            </section>
        </main>
        <%- include('includes/footer.ejs') %>
    </body>
</html>
