<%- include('includes/header.ejs', {}) %>
<!-- prettier-ignore -->
<% for (let i=0; i < article.length; i++) {%> 
  <% if (i === 0) {%> 
<%- include('includes/cardMedium.ejs', { article: article[i] }) %>
<div class="card-set">
  <!-- prettier-ignore -->
  <% } else { %>
  <%- include('includes/cardSmall.ejs', { article: article[i] }) %>
<% } %> <% } %>
</div>
<%- include('includes/footer.ejs', {}) %>
