@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.declaration {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    /* Box-model */
    display: block;
    float: right;
    width: 100px;
    height: 100px;

    /* Typography */
    font: normal 16px Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;

    /* Visual */
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

.bank-card {
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--neutral);
}

.bank-card__container {
    margin: 0 auto;
    max-width: 70rem;
    width: 90%;
    padding: 4rem 0 6.5rem 0;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bank-card__text {
    width: 50%;
}

.bank-card__heading {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-weight: 700;
}

.bank-card__paragraph {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--dark-light);
    margin-bottom: 1.3rem;
}

.bank-card__read-more {
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 400;
    flex-grow: 0;
    transition: color 0.2s;
}

.bank-card__read-more:hover,
.bank-card__read-more:active {
    color: var(--secondary-color);
}

.bank-card__card {
    font-family: inherit;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.man {
    color: hsl(0, 100%, 50%);
}

.bank-card__body {
    border-radius: 1rem;
    height: 15rem;
    width: 25rem;
    background-color: var(--secondary-color);
    position: relative;
    font-family: inherit;
    transition: background-color 1s;
}

.bank-card__logo {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
}

.bank-card__logo__bay {
    font-family: inherit;
    color: #fff;
}

.bank-card__logo__bank {
    font-family: inherit;
    color: #fff;
}

.bank-card__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 21rem;
    color: var(--light-gray);
    position: absolute;
    font-family: inherit;
}

.bank-card__date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    top: 70.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 6rem;
    color: var(--light-gray);
    position: absolute;
    font-family: inherit;
}

.bank-card__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    top: 85%;
    right: 77%;
    transform: translate(50%, -50%);
    height: 2rem;
    width: 12rem;
    color: var(--light-gray);
    position: absolute;
    font-family: inherit;
}

.mastercard-logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.mastercard-logo__left {
    transform: translateX(50%);
    height: 3rem;
    width: 3rem;
    border-radius: 99rem;
    background-color: #eb001b;
}

.mastercard-logo__right {
    height: 3rem;
    width: 3rem;
    border-radius: 99rem;
    mix-blend-mode: hard-light;
    background-color: #f79e1b;
}
