/* Bread crumb */
.bread-crumb {
  background-color: var(--gray-50);
  padding: 1rem 8.05rem;
  display: flex;
  flex-direction: column;
}

.bread-crumb__links {
  gap: 1rem;
  color: var(--gray-900);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bread-crumb__link--current {
  color: var(--gray-900);
  font-size: 0.9rem;
  font-weight: 500;
}

.bread-crumb__link a {
  color: var(--brand-secondary);
  font-size: 0.9rem;
  font-weight: 500;
}

.bread-crumb__link a:hover {
  text-decoration: underline;
}

.bread-crumb p {
  font-size: 1.3rem;
  color: var(--gray-900);
}
/* /Bread crumb */
