.button {
    font-weight: 500;
    font-size: 1rem;
    color: var(--neutral-50);
    padding: 1rem 1.5rem;
    background-color: var(--blue-600);
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.2s;
}

.button:hover,
.button:active {
    background-color: var(--blue-700);
    cursor: pointer;
}

.button:focus {
    outline: 3px solid var(--blue-400);
}

.button--small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

.button--light {
    background-color: var(--blue-500);
}

.button--light:hover,
.button--light:active {
    background-color: var(--blue-600);
    cursor: pointer;
}

.button--light:focus {
    outline: 3px solid var(--blue-300);
}

.button--dark {
    background-color: var(--blue-800);
}

.button--dark:hover,
.button--dark:active {
    background-color: var(--blue-900);
    cursor: pointer;
}

.button--dark:focus {
    outline: 3px solid var(--blue-600);
}
