@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

.header__container {
    margin: 0 auto;
    max-width: 100rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.logo__bay {
    font-family: inherit;
    color: var(--blue-700);
}

.logo__bank {
    font-family: inherit;
    color: var(--blue-700);
}

.nav {
    display: flex;
    margin: 2rem 0;
}

.nav__links {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

.nav__link {
    color: var(--neutral-900);
    font-weight: 400;
    transition: color 0.2s;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.nav__link:hover,
.nav__link:active {
    text-decoration: underline;
}

.user {
    display: flex;
    flex-direction: row;
}

.user__login {
    border-right: 1px solid var(--neutral-400);
}

.user__login,
.user__register {
    color: var(--neutral-900);
    font-weight: 400;
    transition: color 0.2s;
    padding: 0 1rem;
    font-size: 1rem;
}

.user__login:hover,
.user__login:active,
.user__register:hover,
.user__register:active {
    text-decoration: underline;
}
