.hero {
    display: flex;
    position: relative;
    background-color: var(--blue-900);
}

.hero__container {
    margin: 0 auto;
    max-width: 100rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45rem;
}

.hero__text-wrapper {
    width: 85%;
    z-index: 2;
}

.hero__main-heading {
    font-size: 8rem;
    color: var(--neutral-50);
    line-height: 1.1;
    margin-bottom: 3rem;
}

.hero__paragraph {
    width: 50%;
    color: var(--neutral-50);
    margin-bottom: 3rem;
    font-weight: 400;
}

.hero__img {
    position: absolute;
    width: 50%;
    height: 45rem;
    object-fit: cover;
    right: 0;
}
