.info-card {
    margin-bottom: 8rem;
}

.info-card__container {
    margin: 0 auto;
    max-width: 100rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35rem;
    order: 1;
    gap: 8rem;
}

.info-card__text-wrapper {
    width: 55%;
}

.info-card__main-heading {
    font-size: 5rem;
    color: var(--neutral-900);
    line-height: 1.1;
    margin-bottom: 3rem;
}

.info-card__paragraph {
    color: var(--neutral-900);
    margin-bottom: 3rem;
    font-weight: 400;
}

.info-card__img {
    width: 45%;
    height: 35rem;
    object-fit: cover;
    background-color: aqua;
}

.info-card__button:hover {
    color: var(--neutral-900);
}

.info-card:nth-child(2n) > .info-card__container > .info-card__img {
    order: 2;
}
