.loan-calculator {
    background-color: #fff;
    border-bottom: 1px solid var(--neutral);
}

.loan-calculator__container {
    margin: 0 auto;
    max-width: 70rem;
    width: 90%;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}

.loan-calculator__text {
    width: 50%;
}

.loan-calculator__heading {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.loan-calculator__paragraph {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 1.3rem;
}

.loan-calculator__read-more {
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 400;
    flex-grow: 0;
    transition: color 0.2s;
}

.loan-calculator__read-more:hover,
.loan-calculator__read-more:active {
    color: var(--secondary-color);
}

.loan-calculator__body {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.loan-calculator__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loan-calculator__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.loan-amount,
.loan-term,
.loan-rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loan-amount,
.loan-term {
    margin-bottom: 1rem;
}

.loan-amount__label,
.loan-term__label,
.loan-rate__label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.loan-amount__input,
.loan-rate__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.loan-amount__number,
.loan-term__number,
.loan-rate__number {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--light-gray);
    font-weight: 500;
    border-radius: 0.3rem;
    border: none;
    outline: 2px solid transparent;
    transition: outline 0.2s, background-color 0.2s;
}

.loan-amount__icon,
.loan-rate__icon {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
}

.loan-amount__icon {
    left: 5%;
}

.loan-rate__icon {
    right: 8%;
}

.loan-calculate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loan-rate__number {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--light-gray);
    font-weight: 500;
    border-radius: 0.3rem;
    border: none;
    outline: 2px solid transparent;
    transition: outline 0.2s, background-color 0.2s;
}

.loan-calculate__button {
    align-self: flex-end;
    color: var(--main-color);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--white);
    font-weight: 500;
    border-radius: 0.3rem;
    border: none;
    outline: 2px solid var(--main-color);
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.loan-calculate__button:active,
.loan-calculate__button:hover,
.loan-calculate__button:focus {
    outline: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.loan-amount__number:active,
.loan-amount__number:focus,
.loan-term__number:active,
.loan-term__number:focus,
.loan-rate__number:active,
.loan-rate__number:focus {
    outline: 2px solid var(--secondary-color);
    background-color: var(--secondary-color-transparent);
    border: none;
}

.loan-calculator__monthly-payment-label {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
}

.loan-calculator__monthly-payment-number {
    text-align: center;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.loan-calculator__monthly-payment-number span {
    font-size: 1rem;
    text-align: end;
    margin-top: 0.25rem;
}

.loan-calculator__total-principal,
.loan-calculator__total-interest {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loan-calculator__total-principal {
    border-bottom: 1px solid var(--neutral);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.loan-calculator__payment-amount-label,
.loan-calculator__payment-amount-number,
.loan-calculator__paid-interest-label,
.loan-calculator__paid-interest-number {
    font-size: 0.9rem;
    font-weight: 500;
}

.loan-calculator__total-interest {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
