.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__form label {
    color: var(--neutral-900);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.login__form input {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--neutral-900);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-900);
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
}

.password-separator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.password-separator > label {
    margin-bottom: 0;
}

.login-form__button {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.login-form__button:hover,
.login-form__button:active {
    color: var(--neutral-900);
}

.login__forgot-link {
    color: var(--blue-700);
}

.login__forgot-link:hover,
.login__forgot-link:active {
    text-decoration: underline;
}

/* Styles below make "Login form" to be in the middle of the page */
