@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* All colors are taken from Tailwind Colors docs */
:root {
    /* Blue - Main color is 500 */
    --blue-50: hsl(217, 89%, 96%);
    --blue-100: hsl(217, 89%, 91%);
    --blue-200: hsl(217, 89%, 81%);
    --blue-300: hsl(217, 89%, 71%);
    --blue-400: hsl(217, 89%, 61%);
    --blue-500: hsl(217, 89%, 51%);
    --blue-600: hsl(217, 89%, 41%);
    --blue-700: hsl(217, 89%, 31%);
    --blue-800: hsl(217, 89%, 21%);
    --blue-900: hsl(217, 89%, 11%);

    /* Red*/
    --red-50: hsl(5, 69%, 89%);
    --red-100: hsl(5, 69%, 84%);
    --red-200: hsl(5, 69%, 74%);
    --red-300: hsl(5, 69%, 64%);
    --red-400: hsl(5, 69%, 54%);
    --red-500: hsl(5, 69%, 44%);
    --red-600: hsl(5, 69%, 34%);
    --red-700: hsl(5, 69%, 24%);
    --red-800: hsl(5, 69%, 14%);
    --red-900: hsl(5, 69%, 4%);

    /* Green */
    --green-50: hsl(151, 83%, 89%);
    --green-100: hsl(151, 83%, 84%);
    --green-200: hsl(151, 83%, 74%);
    --green-300: hsl(151, 83%, 64%);
    --green-400: hsl(151, 83%, 54%);
    --green-500: hsl(151, 83%, 44%);
    --green-600: hsl(151, 83%, 34%);
    --green-700: hsl(151, 83%, 24%);
    --green-800: hsl(151, 83%, 14%);
    --green-900: hsl(151, 83%, 4%);

    /* Neutral */
    --neutral-50: hsl(0, 0%, 95%);
    --neutral-100: hsl(0, 0%, 90%);
    --neutral-150: hsl(0, 0%, 85%);
    --neutral-200: hsl(0, 0%, 80%);
    --neutral-250: hsl(0, 0%, 75%);
    --neutral-300: hsl(0, 0%, 70%);
    --neutral-350: hsl(0, 0%, 65%);
    --neutral-400: hsl(0, 0%, 60%);
    --neutral-450: hsl(0, 0%, 55%);
    --neutral-500: hsl(0, 0%, 50%);
    --neutral-550: hsl(0, 0%, 45%);
    --neutral-600: hsl(0, 0%, 40%);
    --neutral-650: hsl(0, 0%, 35%);
    --neutral-700: hsl(0, 0%, 30%);
    --neutral-750: hsl(0, 0%, 25%);
    --neutral-800: hsl(0, 0%, 20%);
    --neutral-850: hsl(0, 0%, 15%);
    --neutral-900: hsl(0, 0%, 10%);
    --neutral-950: hsl(0, 0%, 5%);
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Reset start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* Remove arrows from type="number" input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Reset end */

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
}

.active {
    color: var(--blue-500);
}

.main {
    justify-self: start;
}

.page-not-found__img {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
}
